@model IEnumerable<CalculadoraPrestamo.Models.Cliente>

<h1>Adminsitrador de Clientes</h1>
<a href="@Url.Action("CrearCliente")" class="btn btn-primary">Crear Cliente</a>

@if (TempData["Mensaje"] != null)
{

    <div class="alert alert-success">@TempData["Mensaje"]</div>
}
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                <th>@Html.DisplayNameFor(m => m.Direccion)</th>
                <th>@Html.DisplayNameFor(m => m.DNI)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.Direccion)</td>
                    <td>@Html.DisplayFor(m => item.DNI)</td>
                </tr>
            }

        </tbody>
    </table>






